{% extends "base.html" %}

{% block title %}
LaneLogger - Athletics Meet Management
{% endblock %}

{% block content %}

<div class="text-center py-5">

    <h1 class="display-3 fw-bold">
        LaneLogger
    </h1>

    <p class="lead">
        Simple athletics meet management.
    </p>

    <p class="text-muted mx-auto landing-description">

        Create meets, manage athletes,
        organise events and heats,
        assign lanes and record results
        in one simple platform.

    </p>

    {% if not session.get("user_id") %}

    <div class="mt-4">

        <a
            href="{{ url_for('auth.register') }}"
            class="btn btn-warning btn-lg me-2"
        >
            Create Account
        </a>

        <a
            href="{{ url_for('auth.login') }}"
            class="btn btn-dark btn-lg"
        >
            Login
        </a>

    </div>

    {% else %}

    <a
        href="{{ url_for('main.dashboard') }}"
        class="btn btn-dark btn-lg"
    >
        Go to Dashboard
    </a>

    {% endif %}

</div>

{% endblock %}